{% extends "base.html" %}

{% block content %}
<h3>New values check & update id:[{{result["range"][0]}},{{result["range"][1]}}]</h3>
<div>
  {% if result["new_values"] %}

  <p>
    <b>Unseen values:</b><br>
    {% for val in result["new_values"] %}
    {{ val }} <br>
    {% endfor %}
  </p>
  
  <table>
      <form action="" method = "post">	
	<td><input type = "submit" name = "btn" value = "Modify"></td>
      </form>
  </table>
  {% endif %}

  <p>
    <b>Existing values before id {{ result["range"][0] }}:</b><br>
    {% for val in result["existing_values"] %}
    {{ val }} <br>
    {% endfor %}
  </p>
  

</div>

{% endblock %}
