{% extends "base.html" %}

{% block content %}
<h3>New values check & update id:[{{result["range"][0]}},{{result["range"][1]}}]</h3>
<div>
  {% if result["new_values"] %}
  <table>
    
    {% for value in result["new_values"] %}
    <tr>
      <form method = "post">
	<td><label for = "old">{{value}}</label></td>
	<td><input type = "text" name = "old" /></td>
	<td><input type = "submit" name = "btn" value = {{value}}></td>
      </form>
    </tr>
    {% endfor %}  
  </table>
  {% endif %}

  <p><b>Existing values before id {{ result["range"][0] }}:</b> <br> {{ result["existing_values"] }}</p>
  

</div>

{% endblock %}
